/* Con ::-webkit-scrollbar nos encargaremos de definir la altura y la anchura del componente Scroll. Y si lo deseas, lo puedes ocultar sin afectar su funcionamiento */

body::-webkit-scrollbar {
    width: 10px;     /* Tamaño del scroll en vertical */
    /* height: 8px; */    /* Tamaño del scroll en horizontal */
    /* display: none; */  /* Ocultar scroll */
}


/* Con ::-webkit-scrollbar-thumb podremos modificar los bordes, fondo y sombras el componente thumb, lo mejor de todo es que podemos utilizar las pseudo clases active y hover sobre este componente */
/* Ponemos un color de fondo y redondeamos las esquinas del thumb */
body::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 4px;
}

/* Cambiamos el fondo y agregamos una sombra cuando esté en hover */
body::-webkit-scrollbar-thumb:hover {
    background: #b3b3b3;
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}
/* Cambiamos el fondo cuando esté en active */
body::-webkit-scrollbar-thumb:active {
    background-color: #999999;
}

/* Con ::-webkit-scrollbar-track es la misma historia que con ::-webkit-scrollbar-thumb respecto a los estilos y pseudo clases, pero aplicados al track. */
/* Ponemos un color de fondo y redondeamos las esquinas del track */
body::-webkit-scrollbar-track {
    background: #e1e1e1;
    border-radius: 4px;
}

/* Cambiamos el fondo cuando esté en active o hover */
body::-webkit-scrollbar-track:hover,
body::-webkit-scrollbar-track:active {
  background: #d4d4d4;
}