body {
    background: #222;
}

section {
    background: rgba(255,255,255,.6);
    box-sizing: border-box;
    font-size: .9em;
    float: left;
    margin: 1%;
    padding: 1em;
}

img {
    max-width: 100%;
    height: auto;
}

/* Rem es  igual a la medida del tamaño base del cdocumento*/
/* em es la medida relativa del padre  */

/* ul {
    clear: both;
}
ul li {
    font-size: 1.3em;
} */

/* Se deben poner imagenes no muy grandes, y optimizarlas lo más posbile */
/* Una página llamada tinypng.com para comprimir las imgs para web */
@media (min-width: 360px) {
    body {
        background: green;
    }

    section {
        width: 48%;
    }
}

@media (min-width: 768px) {
    body {
        background: red;
    }

    section {
        width: 31.33%;
    }
}
@media (min-width: 1200px) {
    body {
        background: yellow;
    }

    section {
        width: 23%;
    }
}